<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <saveUI>
        <processor mode="on" type="Rightpoint.Sitecore.FieldSync.Pipelines.SaveUI.FieldSync, Rightpoint.Sitecore.FieldSync">
          <param type="Rightpoint.Sitecore.FieldSync.FieldRelationships.ConfigRelationshipCollection, Rightpoint.Sitecore.FieldSync">
            <fieldRelationships hint="raw:AddFieldRelationship">
              <!-- leftFieldId: field guid from template -->
              <!-- rightFieldId: field guid from template -->
              <!-- syncDirection: 0=None, 1=LeftToRight, 2=RightToLeft, 3=Both -->

              <!-- example -->
              <fieldRelationship leftFieldId="{93F250AA-2C83-4A1F-9EA0-A06352E987C2}" rightFieldId="{E9FE63B2-07C4-47C1-885E-7554DE9B5D67}" syncDirection="3"/>
            </fieldRelationships>
          </param>
        </processor>
      </saveUI>
    </processors>
  </sitecore>
</configuration>